In [73]:
#In R data type of dependent variable determins if the problem is regression or classification
#In case of python, all the variables are numeric. Type of estimator determ
#ins if the problem is regression or classification
import pandas as pd

In [74]:
#cross validation
from sklearn.model_selection import train_test_split

In [75]:
#estimators for classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier

In [76]:
#Performance reports
from sklearn import metrics
from sklearn.metrics import confusion_matrix,classification_report

In [77]:
#data
rawData = pd.read_csv('default of credit card clients.csv', header=1)
rawData.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [78]:
#DataCleaning- Rename dependent variable to reomve spaces
rawData.rename(columns={'default payment next month':'Isdefaultpaynextmonth'}, 
                 inplace=True)

In [79]:
rawData.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,Isdefaultpaynextmonth
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [80]:
# Sepereate data to feature and dependant variable
X = rawData.drop('Isdefaultpaynextmonth',axis=1)
y = rawData['Isdefaultpaynextmonth']

In [81]:
#Split the both data to Test and train
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state=42)

In [82]:
X_train.shape, X_test.shape

((21000, 24), (9000, 24))

#RandomForest Classifier

In [83]:
rfc = RandomForestClassifier(n_estimators=200)
rfc.fit(X_train,y_train)
pred_rfc=rfc.predict(X_test)

In [84]:
X_test[:4]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
2308,2309,30000,1,2,2,25,0,0,0,0,...,11581,12580,13716,14828,1500,2000,1500,1500,1500,2000
22404,22405,150000,2,1,2,26,0,0,0,0,...,116684,101581,77741,77264,4486,4235,3161,2647,2669,2669
23397,23398,70000,2,3,1,32,0,0,0,0,...,68530,69753,70111,70212,2431,3112,3000,2438,2500,2554
25058,25059,130000,1,3,2,49,0,0,0,0,...,16172,16898,11236,6944,1610,1808,7014,27,7011,4408

In [85]:
pred_rfc

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [86]:
#Lets see how our rfc model performed
print(classification_report(y_test,pred_rfc))
print(confusion_matrix(y_test,pred_rfc))

              precision    recall  f1-score   support

           0       0.84      0.94      0.89      7040
           1       0.63      0.36      0.46      1960

   micro avg       0.81      0.81      0.81      9000
   macro avg       0.73      0.65      0.67      9000
weighted avg       0.79      0.81      0.79      9000

[[6623  417]
 [1254  706]]

#SVM Classifier

In [87]:
clf1 = svm.SVC(gamma=0.001, C=1000.)
clf1.fit(X_train,y_train)
pred_clf1=clf1.predict(X_test)
#Lets see how our Support vector model performed
print(classification_report(y_test,pred_clf1))
print(confusion_matrix(y_test,pred_clf1))

              precision    recall  f1-score   support

           0       0.78      1.00      0.88      7040
           1       0.67      0.00      0.00      1960

   micro avg       0.78      0.78      0.78      9000
   macro avg       0.72      0.50      0.44      9000
weighted avg       0.76      0.78      0.69      9000

[[7038    2]
 [1956    4]]

In [88]:
clf2 = svm.SVC(gamma=0.001, C=0.1)
clf2.fit(X_train,y_train)
pred_clf2=clf2.predict(X_test)
#Lets see how our Support vector model performed
print(classification_report(y_test,pred_clf2))
print(confusion_matrix(y_test,pred_clf2))

              precision    recall  f1-score   support

           0       0.78      1.00      0.88      7040
           1       0.00      0.00      0.00      1960

   micro avg       0.78      0.78      0.78      9000
   macro avg       0.39      0.50      0.44      9000
weighted avg       0.61      0.78      0.69      9000

[[7040    0]
 [1960    0]]

C:\Users\papanamb\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [89]:
clf3 = svm.SVC(gamma=100, C=0.1)
clf3.fit(X_train,y_train)
pred_clf3=clf3.predict(X_test)
#Lets see how our Support vector model performed
print(classification_report(y_test,pred_clf3))
print(confusion_matrix(y_test,pred_clf3))

              precision    recall  f1-score   support

           0       0.78      1.00      0.88      7040
           1       0.00      0.00      0.00      1960

   micro avg       0.78      0.78      0.78      9000
   macro avg       0.39      0.50      0.44      9000
weighted avg       0.61      0.78      0.69      9000

[[7040    0]
 [1960    0]]

C:\Users\papanamb\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [90]:
clf = svm.SVC(gamma=0.001, C=100.)
clf.fit(X_train,y_train)
pred_clf=clf.predict(X_test)

#Lets see how our Support vector model performed
print(classification_report(y_test,pred_clf))
print(confusion_matrix(y_test,pred_clf))

              precision    recall  f1-score   support

           0       0.78      1.00      0.88      7040
           1       0.67      0.00      0.00      1960

   micro avg       0.78      0.78      0.78      9000
   macro avg       0.72      0.50      0.44      9000
weighted avg       0.76      0.78      0.69      9000

[[7038    2]
 [1956    4]]

#KKN

In [91]:
neigh = KNeighborsClassifier(n_neighbors=3)

In [92]:
neigh.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

In [93]:
pred_kknc=neigh.predict(X_test)

In [94]:
print(classification_report(y_test,pred_kknc))
print(confusion_matrix(y_test,pred_kknc))

              precision    recall  f1-score   support

           0       0.80      0.87      0.84      7040
           1       0.32      0.22      0.26      1960

   micro avg       0.73      0.73      0.73      9000
   macro avg       0.56      0.55      0.55      9000
weighted avg       0.70      0.73      0.71      9000

[[6146  894]
 [1534  426]]

In [95]:
# To use precision or Recal ,https://towardsdatascience.com/accuracy-precision-recall-or-f1-331fb37c5cb9