In [1]:
import math

In [2]:
math.sqrt(25)

5.0

In [3]:
math.pi

3.141592653589793

In [2]:
import math as mt

In [5]:
mt.sqrt(25)

5.0

In [6]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

NameError: name 'random' is not defined

In [10]:
import numpy as np

In [12]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

NameError: name 'random' is not defined

In [13]:
import random

In [14]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

AttributeError: module 'random' has no attribute 'rand'

In [15]:
from numpy import random

In [16]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

In [17]:
dataOne

array([[0.26944074, 0.65208384, 0.77088021, 0.86037723, 0.93114777],
       [0.1193629 , 0.07129671, 0.74598966, 0.40291029, 0.77882114],
       [0.81801623, 0.96611825, 0.81418243, 0.86750336, 0.03723036],
       [0.0793762 , 0.97159467, 0.07836589, 0.56770833, 0.45311359],
       [0.70564466, 0.51080435, 0.04255299, 0.03147162, 0.10236326]])

In [18]:
np.mean(dataOne)

0.5059342660653595

In [19]:
print('I Love data Science')

I Love data Science

In [20]:
variableName = 25

In [21]:
variableName

25

In [22]:
variableName1 = 'I Love data Science'

In [23]:
print(variableName1)

I Love data Science

In [24]:
variableName1

'I Love data Science'

In [25]:
type(variableName)

int

In [26]:
variableName = 25.0

In [27]:
type(variableName)

float

In [28]:
varOne = 25

In [29]:
varTwo = 25.0

In [30]:
varThree = varOne + varTwo

In [32]:
print(varThree)

50.0

In [33]:
varOne = 25

In [34]:
varTwo = 'Hello'

In [37]:
varThree = str(varOne) + varTwo

In [38]:
print(varThree)

25Hello

In [39]:
listName = [ ]

In [40]:
listOne = [1,2,3,4]

In [41]:
listOne

[1, 2, 3, 4]

In [42]:
print(listOne[1:3])

[2, 3]

In [43]:
tel = {'jack': 4098, 'sape': 4139}

In [44]:
tel

{'jack': 4098, 'sape': 4139}

In [45]:
tel['jack']

4098

In [3]:
telpp = {'A1': 4098, 'A2': 4139, 'A3': 40, 'A4': 36, 'A5': 25}

In [47]:
mt.sqrt(telpp['A1'])

64.01562309311689

In [4]:
mt.sqrt(telpp['A2'])

64.33506042586733

In [5]:
mt.log10((telpp['A1']))

3.612571954065176

In [6]:
mt.cos((telpp['A4']))

-0.12796368962740468

In [10]:
# set the midpoint
midpoint = 5

# make two empty lists
lower = []; upper = []

# split the numbers into lower and upper
for i in range(10):
    if (i < midpoint):
        lower.append(i)
    else:
        upper.append(i)
        
print("lower:", lower)
print("upper:", upper)

SyntaxError: invalid syntax (<ipython-input-10-55dc76415acd>, line 5)

In [11]:
2 * (3 + 4)

14

In [12]:
print('first value:', 1)

first value: 1

In [13]:
print('second value:', 2)

second value: 2

In [14]:
L = [4,2,3,1]
L.sort()
print(L)

[1, 2, 3, 4]

In [15]:
x = 4
type(x)

int

In [16]:
x = 'hello'
type(x)

str

In [17]:
a = 24
print(a)

24

In [18]:
a += 2  # equivalent to a = a + 2
print(a)

26

In [19]:
# 25 is odd
25 % 2 == 1

True

In [20]:
# 66 is odd
66 % 2 == 1

False

In [21]:
# check if a is between 15 and 30
a = 25
15 < a < 30

True

In [22]:
-1 == ~0

True

In [23]:
x = 4
(x < 6) and (x > 2)

True

In [24]:
not (x < 6)

False

In [25]:
# (x > 1) xor (x < 10)
(x > 1) != (x < 10)

False

In [26]:
a = [1, 2, 3]
b = [1, 2, 3]

In [27]:
a == b

True

In [28]:
a is b

False

In [29]:
a is not b

True

In [30]:
a = [1, 2, 3]
b = a
a is b

True

In [31]:
1 in [1, 2, 3]

True

In [32]:
2 not in [1, 2, 3]

False

In [33]:
x = 1
type(x)

int

In [34]:
2 ** 200

1606938044258990275541962092341162602522202993782792835301376

In [35]:
5 // 2

2

In [36]:
5 / 2

2.5

In [37]:
x = 0.000005
y = 5e-6
print(x == y)

True

In [38]:
x = 1400000.00
y = 1.4e6
print(x == y)

True

In [39]:
float(1)

1.0

In [40]:
0.1 + 0.2 == 0.3

False

In [41]:
print("0.1 = {0:.17f}".format(0.1))
print("0.2 = {0:.17f}".format(0.2))
print("0.3 = {0:.17f}".format(0.3))

0.1 = 0.10000000000000001
0.2 = 0.20000000000000001
0.3 = 0.29999999999999999

In [42]:
complex(1, 2)

(1+2j)

In [43]:
1 + 2j

(1+2j)

In [44]:
c = 3 + 4j

In [45]:
c.real

3.0

In [46]:
abs(c)

5.0

In [47]:
message = "what do you like?"
response = 'spam'

In [48]:
len(response)

4

In [49]:
response.upper()

'SPAM'

In [50]:
# Capitalize. See also str.title()
message.capitalize()

'What do you like?'

In [51]:
message + response

'what do you like?spam'

In [52]:
# multiplication is multiple concatenation
5 * response

'spamspamspamspamspam'

In [53]:
message[0]

'w'

In [54]:
type(None)

NoneType

In [55]:
return_value = print('abc')

abc

In [56]:
print(return_value)

None

In [57]:
print(1)

1

In [58]:
print('abc')

abc

In [59]:
result = (4 < 5)
result

True

In [60]:
type(result)

bool

In [61]:
print(True, False)

True False

In [62]:
bool(2014)

True

In [63]:
bool(0)

False

In [64]:
bool(3.1415)

True

In [65]:
bool(None)

False

In [66]:
bool("")

False

In [67]:
bool("abc")

True

In [68]:
bool([1, 2, 3])

True

In [69]:
bool([])

False

In [70]:
L = [2, 3, 5, 7]

In [72]:
# Length of a list
len(L)
# Append a value to the end
L.append(11)
L

[2, 3, 5, 7, 11, 11]

In [73]:
len(L)

6

In [74]:
# Addition concatenates lists
L + [13, 17, 19]

[2, 3, 5, 7, 11, 11, 13, 17, 19]

In [75]:
L = [2, 5, 1, 6, 3, 4]
L.sort()
L

[1, 2, 3, 4, 5, 6]

In [76]:
L = [1, 'two', 3.14, [0, 3, 5]]

In [77]:
L = [2, 3, 5, 7, 11]

In [78]:
L[0]

2

In [79]:
L[1]

3

In [80]:
L[-1]

11

In [81]:
L[-2]

7

In [82]:
L[0:3]

[2, 3, 5]

In [83]:
L[:3]

[2, 3, 5]

In [84]:
L[-3:]

[5, 7, 11]

In [87]:
L[::3]

[2, 7]

In [88]:
L[::-1]

[11, 7, 5, 3, 2]

In [89]:
L[1:3] = [55, 56]
print(L)

[2, 55, 56, 7, 11]

In [90]:
t = (1, 2, 3)

In [91]:
t = 1, 2, 3
print(t)

(1, 2, 3)

In [92]:
len(t)

3

In [93]:
t[0]

1

In [94]:
t[1] = 4

TypeError: 'tuple' object does not support item assignment

In [95]:
t.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [99]:
x = 0.5
x.as_integer_ratio()

(1, 2)

In [100]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.5

In [101]:
numbers = {'one':1, 'two':2, 'three':3}

In [102]:
# Access a value via the key
numbers['two']

2

In [103]:
# Set a new key:value pair
numbers['ninety'] = 90
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'ninety': 90}

In [104]:
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}

In [107]:
# union: items appearing in either
primes | odds      # with an operator
primes.union(odds) # equivalently with a method

{1, 2, 3, 5, 7, 9}

In [108]:
# difference: items in primes but not in odds
primes - odds           # with an operator
primes.difference(odds) # equivalently with a method

{2}

In [109]:
# symmetric difference: items appearing in only one set
primes ^ odds                     # with an operator
primes.symmetric_difference(odds) # equivalently with a method

{1, 2, 9}

In [110]:
x = -15

if x == 0:
    print(x, "is zero")
elif x > 0:
    print(x, "is positive")
elif x < 0:
    print(x, "is negative")
else:
    print(x, "is unlike anything I've ever seen...")

-15 is negative

In [111]:
for N in [2, 3, 5, 7]:
    print(N, end=' ') # print all on same line

2 3 5 7

In [112]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [113]:
# range from 5 to 10
list(range(5, 10))

[5, 6, 7, 8, 9]

In [114]:
# range from 0 to 10 by 2
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [115]:
i = 0
while i < 10:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

In [116]:
for n in range(20):
    # if the remainder of n / 2 is 0, skip the rest of the loop
    if n % 2 == 0:
        continue
    print(n, end=' ')

1 3 5 7 9 11 13 15 17 19

In [117]:
a, b = 0, 1
amax = 100
L = []

while True:
    (a, b) = (b, a + b)
    if a > amax:
        break
    L.append(a)

print(L)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [118]:
L = []
nmax = 30

for n in range(2, nmax):
    for factor in L:
        if n % factor == 0:
            break
    else: # no break
        L.append(n)
print(L)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [119]:
print('abc')

abc

In [120]:
print(1, 2, 3)

1 2 3

In [121]:
print(1, 2, 3, sep='--')

1--2--3

In [122]:
def fibonacci(N):
    L = []
    a, b = 0, 1
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [123]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [124]:
def real_imag_conj(val):
    return val.real, val.imag, val.conjugate()

r, i, c = real_imag_conj(3 + 4j)
print(r, i, c)

3.0 4.0 (3-4j)

In [125]:
def fibonacci(N, a=0, b=1):
    L = []
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [126]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [127]:
fibonacci(10, 0, 2)

[2, 2, 4, 6, 10, 16, 26, 42, 68, 110]

In [128]:
fibonacci(10, b=3, a=1)

[3, 4, 7, 11, 18, 29, 47, 76, 123, 199]

In [129]:
def catch_all(*args, **kwargs):
    print("args =", args)
    print("kwargs = ", kwargs)

In [130]:
catch_all(1, 2, 3, a=4, b=5)

args = (1, 2, 3)
kwargs =  {'a': 4, 'b': 5}

In [131]:
catch_all('a', keyword=2)

args = ('a',)
kwargs =  {'keyword': 2}

In [132]:
inputs = (1, 2, 3)
keywords = {'pi': 3.14}

catch_all(*inputs, **keywords)

args = (1, 2, 3)
kwargs =  {'pi': 3.14}

In [133]:
add = lambda x, y: x + y
add(1, 2)

3

In [134]:
data = [{'first':'Guido', 'last':'Van Rossum', 'YOB':1956},
        {'first':'Grace', 'last':'Hopper',     'YOB':1906},
        {'first':'Alan',  'last':'Turing',     'YOB':1912}]

In [135]:
# sort alphabetically by first name
sorted(data, key=lambda item: item['first'])

[{'first': 'Alan', 'last': 'Turing', 'YOB': 1912},
 {'first': 'Grace', 'last': 'Hopper', 'YOB': 1906},
 {'first': 'Guido', 'last': 'Van Rossum', 'YOB': 1956}]

In [137]:
# sort by year of birth
sorted(data, key=lambda item: item['YOB'])

[{'first': 'Grace', 'last': 'Hopper', 'YOB': 1906},
 {'first': 'Alan', 'last': 'Turing', 'YOB': 1912},
 {'first': 'Guido', 'last': 'Van Rossum', 'YOB': 1956}]

In [138]:
import pandas pd

SyntaxError: invalid syntax (<ipython-input-138-6bfc1f40d5ca>, line 1)

In [2]:
import pandas as pd

In [6]:
data = pd.read_csv('cars.csv', delimiter=',')

In [7]:
data

   name of car  speed of car  distance of car
0         Ford             4                2
1         Jeep             4                4
2        Honda             7               10
3          KIA             7               10
4      Toyota              8               14
5          BMW             9               16
6     Mercedes            10               17
7           GM            10               18
8      Hyundai            10               20
9     Infiniti            11               20
10  Land Rover            11               22
11       Lexus            12               24
12       Mazda            12               26
13  Mitsubishi            12               26
14      Nissan            12               26
15         GMC            13               26
16        Fiat            13               28
17    Chrysler            13               28
18       Dodge            13               32
19       Acura            14               32
20        Audi            14               32
21   Chevrolet            14               34
22       Buick            14               34
23        Ford            15               34
24        Jeep            15               36
25       Honda            15               36
26         KIA            16               40
27     Toyota             16               40
28         BMW            17               42
29    Mercedes            17               46
30          GM            17               46
31     Hyundai            18               48
32    Infiniti            18               50
33  Land Rover            18               52
34       Lexus            18               54
35       Mazda            19               54
36  Mitsubishi            19               56
37      Nissan            19               56
38         GMC            20               60
39        Fiat            20               64
40    Chrysler            20               66
41       Dodge            20               68
42       Acura            20               70
43        Audi            22               76
44   Chevrolet            23               80
45       Buick            24               84
46        Jeep            24               85
47       Honda            24               92
48         KIA            24               93
49       Dodge            25              120

In [ ]:
#Was it straightforward to install Python and all of the libraries?
#Yes, with anaconda being packaged well and comes up Jypyter notebook easy to work with and import any library
#Was the tutorial useful? Would you recommend it to others?
#Yes and Yes
#What are the main lessons you've learned from this experience?
#Unlike R,here in Jupyter the results and codes are saved in the notebook. This is good , there is no additional export is not required for result.
#Easy to navigate to required section and run the code to see the results.
# Python is user friendly and follows the user's intution very well on syntax.